{% extends "base.html" %}

{% block titulo %}NOSOTROS{% endblock %}

{% block contenido %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica Médica La eterna primavera</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Clínica Médica La eterna primavera</h1>
    </header>

<br>
    <section id="quienes-somos">
        <div class="container">
            <h2>Quiénes Somos</h2>
            <br>
            <p><strong>Misión:</strong> En Clínica La eterna primavera, nuestra misión es proporcionar atención médica de calidad centrada en el paciente. Promovemos la prevención y el bienestar a través de un enfoque integral en la salud.</p>
            <p><strong>Valores:</strong> Nos guiamos por la profesionalidad, la empatía, la integridad y la ética en todas nuestras interacciones. Valoramos la innovación y la excelencia en la atención médica.</p>
            <p><strong>Equipo Médico:</strong> Contamos con un equipo de médicos altamente calificados y especializados en diversas áreas de la medicina. Nuestro personal de apoyo está dedicado a brindar la mejor atención posible.</p>
            <p><strong>Atención Personalizada:</strong> En La eterna primavera, creemos en la atención médica personalizada. Cada paciente es único, y trabajamos para adaptar nuestros servicios a las necesidades individuales.</p>
            <p><strong>Ambiente Cálido y Cómodo:</strong> Queremos que te sientas cómodo y seguro en nuestra clínica. Nuestras instalaciones están diseñadas para ofrecer un ambiente cálido y acogedor.</p>
        </div>
    </section>

    
</body>
</html>




{% endblock %}
